/* Top banner */
#ad-top {
  display: block;
  width: 100%;
  height: 50px; /* standard banner height */
  text-align: center;
}

/* Bottom banner */
#ad-bottom {
  display: block;
  width: 100%;
  height: 50px; /* standard banner height */
  text-align: center;
}
